.cv-head-container {
  color: #363636;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  .cv-head {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &-name {
      margin: 0;
      font-size: 3rem;
    }
    &-designation {
      margin: 0;
      font-size: 1.5rem;
    }
    &-gmail-phone {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      .cv-head-phone,
      .cv-head-gmail {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
    &-github-gitlab {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      .cv-head-github {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      .cv-head-gitlab {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
    &-location {
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
  .cv-image {
    margin: 0;
    position: relative;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cotain;
    }
  }
}

a {
  text-decoration: none;
  color: #363636;
}
